
$main-color-bg: #2b2d5b;
$main-color-bg-dark: #232450;
$main-color-bg-lighter: #32377c;
$main-color-white: #ffffff;
$main-color-yellow: #efb722;
$main-color-grey: #95989a;
$main-color-lila: #515feb;
$main-color-green: #33d27b;
$color-transaction-green: #00ff00;
$color-transaction-red: #f63535;