@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap');

/* font-family: 'Lato', sans-serif; */

$main-color-bg: #2b2d5b;
$main-color-bg-dark: #232450;
$main-color-bg-lighter: #32377c;
$main-color-white: #ffffff;
$main-color-yellow: #efb722;
$main-color-grey: #95989a;
$main-color-lila: #515feb;
$main-color-green: #33d27b;
$color-transaction-green: #00ff00;
$color-transaction-red: #f63535;

%button_style {
  width: 100%;
  height: 50px;
  margin-bottom: 2%;
  background: $main-color-bg;
  color: $main-color-white;
  outline-style: none;
  border-style: none;
  box-shadow: 3px 3px 6px 2px $main-color-bg-dark;
  font-weight: 300;
  cursor: pointer;
}

%input_style {
  width: 100%;
  height: 50px;
  padding: 5%;
  background: $main-color-bg-dark;
  color: $main-color-white;
  outline-style: none;
  border-style: none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background: $main-color-bg;
}

/* Animation Loader */
.Loader {
  div {
    width: 200px;
    height: 100px;
    margin: auto;
    display: flex;
    overflow: hidden;
    span {
      background-color: white;
      width: 100%;
      height: 100%;
      margin: 10px;
      transform-origin: bottom;
      animation: loader 1s linear infinite alternate;
    }
  }
}
$animList: 1 0s, 2 0.2s, 3 0.4s, 4 0.6s, 5 0.8s;
@each $item in $animList {
  .Loader > div > span:nth-child(#{nth($item,1)}) {
    animation-delay: nth($item, 2);
  }
}
@keyframes loader {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(30%);
  }
  50% {
    transform: translateY(50%);
  }
  75% {
    transform: translateY(75%);
  }
  100% {
    transform: translateY(100%);
  }
}

/* ------- Login --------------- */
.loginBorder {
  .login {
    background-image: url(./img/waves.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $main-color-white;
    h1 {
      font-size: 3rem;
      font-weight: 400;
      margin-top: 30%;
    }
  }
}


/* Register Form */
.RegisterForm {
  margin-top: 4rem;
  width: 90%;
  input[type='submit'] {
    @extend%button_style;
    &:hover {
      cursor: pointer;
    }
  }
}

/* Register Login Button */
.RegisterLogin {
  div {
    @extend%button_style;
    width: 300px;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #efb722;
    }
  }
  div:first-of-type {
    margin-top: 40%;
  }
}

/* Custom input */
.CustomInput {
  margin-bottom: 2rem;
  input {
    @extend%input_style;
  }
}

/* -------Header--------------- */
header {
  height: 10vh;
  .menu {
    width: 70%;
    .headBurger {
      position: fixed;
      width: 100%;
      box-shadow: 3px 3px 6px 2px $main-color-bg-dark;
      background: $main-color-bg;
      h1 {
        color: $main-color-white;
        font-size: 1.5rem;
        font-weight: 300;
        padding: 18px 70px;
      }
    }
    nav {
      position: relative;
      box-shadow: inset 7px 0 8px -5px $main-color-bg-dark,
        inset -7px 0 8px -5px $main-color-bg-dark;
      transition: left 1s;
      background: $main-color-bg;
      background-image: url(./img/waves_nav.png);
      background-position: bottom right;
      background-repeat: no-repeat;
      .cross {
        position: absolute;
        right: 30px;
        top: 20px;
        cursor: pointer;
        .crossline {
          content: '';
          width: 15px;
          height: 1px;
          background: $main-color-white;
        }
        .crossline:nth-of-type(1) {
          transform: rotate(45deg);
          position: absolute;
        }
        .crossline:nth-of-type(2) {
          transform: rotate(130deg);
          position: absolute;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: left;
        height: 90vh;
        margin: 0;
        padding: 30% 0 0 10%;
        list-style-type: none;
        li {
          padding-top: 20%;
        }
        a,
        span {
          text-decoration: none;
          color: $main-color-white;
          font-weight: 300;
          cursor: pointer;
        }
      }
    }
    .open {
      left: 0;
    }
    .closeNav {
      left: -100%;
    }
  }
  .burgerMenu {
    height: 20px;
    width: 30px;
    position: fixed;
    top: 17px;
    left: 20px;
    cursor: pointer;
    .line {
      margin-top: 6px;
      width: 27px;
      height: 3px;
      background: linear-gradient(
        90deg,
        rgba(246, 53, 53, 1) 0%,
        rgba(255, 0, 157, 1) 35%
      );
      border-radius: 10px;
    }
  }
}

/* -------Home------------------- */
.overview {
  color: $main-color-white;
  font-weight: 200;
  margin-bottom: 10vh;
  h2 {
    margin-left: 5%;
    font-weight: 400;
  }
  .overviewHead {
    display: flex;
    justify-content: space-between;
    padding-top: 5%;
    margin: 0 5%;
    h3 {
      font-weight: 300;
      padding-bottom: 3%;
    }
    button {
      background: $main-color-bg;
      color: $main-color-white;
      font-weight: lighter;
      outline-style: none;
      border-style: none;
      cursor: pointer;
    }
    button:hover {
      font-size: 1rem;
      color: $color-transaction-red;
    }
  }
  ul {
    padding-bottom: 4vh;
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1.5% 3%;
      background: $main-color-bg-dark;
      padding: 3%;
      article {
        font-size: 0.8rem;
        width: 150px;
        h4 {
          font-weight: 300;
          font-size: 1rem;
        }
      }
      .price {
        color: $main-color-yellow;
        font-weight: 400;
      }
      .price::after {
        content: ' €';
      }
      img {
        cursor: pointer;
      }
      img:hover {
        background: $color-transaction-red;
        border-radius: 50%;
      }
    }
  }
  .buttonM {
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    .buttonMore {
      @extend%button_style;
    }
    .buttonMore:hover {
      color: $color-transaction-red;
      box-shadow: 6px 6px 8px 5px $main-color-bg-dark;
    }
  }
}
/* -------Turnovers-------------- */
.wallet {
  padding: 5%;
  color: $main-color-white;
  background-image: url(./img/waves.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 80vh;
  h1 {
    font-weight: 400;
    font-size: 1.8rem;
    padding: 5% 0;
  }
  form {
    select,
    input {
      @extend%input_style;
      padding: 0 3%;
      margin-top: 4%;
    }
    input[type='submit'] {
      margin-top: 10%;
      background: $main-color-bg;
      box-shadow: 3px 3px 6px 2px $main-color-bg-dark;
    }
    input[type='date']::-webkit-calendar-picker-indicator {
      cursor: pointer;
      border-radius: 4px;
      margin-right: 2px;
      opacity: 0.6;
      filter: invert(0.8);
    }
  }
}

/* Modal */
#success {
  text-align: center;
  color: $main-color-white;
  background: $main-color-bg;
  height: 380px;
  width: 300px;
  border-radius: 10px;
  position: absolute;
  img {
    position: relative;
    top: -30px;
  }
  .lineCircle {
    position: absolute;
    top: 32%;
    left: -5px;
    transform: rotate(90deg);
    height: 10px;
    width: 20px;
    border-radius: 15px 15px 0 0;
    background-color: #16172e;
  }
  .lineCircle2 {
    position: absolute;
    top: 32%;
    right: -5px;
    transform: rotate(-90deg);
    height: 10px;
    width: 20px;
    border-radius: 15px 15px 0 0;
    background-color: #16172e;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 300;
    position: relative;
    top: -30px;
    margin-bottom: 3%;
  }
  section {
    padding: 0 7%;
    text-align: left;
    p {
      font-weight: 400;
      span {
        font-weight: 200;
        font-size: 0.8rem;
      }
    }
    article {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .price {
      margin-top: 15%;
      font-size: 1.6em;
    }
    .price::after {
      content: ' €';
    }
    .categorie {
      margin-top: 10%;
    }
  }
}
/* Modal error */
#error {
  text-align: center;
  color: $main-color-white;
  background: $main-color-bg;
  height: 380px;
  width: 300px;
  border-radius: 10px;
  position: absolute;
  img {
    position: relative;
    top: -30px;
    width: 70px;
  }
  img:nth-of-type(2) {
    width: 85%;
    position: relative;
    top: 0px;
  }
  .lineCircle {
    position: absolute;
    top: 32%;
    left: -5px;
    transform: rotate(90deg);
    height: 10px;
    width: 20px;
    border-radius: 15px 15px 0 0;
    background-color: #16172e;
  }
  .lineCircle2 {
    position: absolute;
    top: 32%;
    right: -5px;
    transform: rotate(-90deg);
    height: 10px;
    width: 20px;
    border-radius: 15px 15px 0 0;
    background-color: #16172e;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 300;
    position: relative;
    margin-bottom: 3%;
  }
  h1 {
    margin-top: 20%;
    font-weight: 400;
  }
}
/* ---------Charts-------------------- */
.chart {
  position: relative;
  /* height: 300px; */
  z-index: -1;
  canvas {
    /* width: 350px; */
    height: 150px;
  }
  .chartText {
    position: absolute;
    top: 41%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    p {
      font-size: 1.5rem;
    }
  }
}

/* TotalCost */
.statistic {
  display: flex;
  flex-direction: column;
  /*  justify-content: center; */
  align-items: center;
  margin-bottom: 12vh;
}
.totalCoast-1,
.totalCoast-2,
.totalCoast-3,
.totalCoast-4 {
  text-align: center;
  color: $main-color-white;
  width: 90%;
  margin: 2%;
  h3 {
    padding: 5%;
    font-weight: 400;
    font-size: 1.4rem;
  }
  ul {
    list-style-type: none;
    text-align: left;
    li {
      padding: 5%;
      font-size: 1.2rem;
      font-weight: 300;
      display: flex;
      justify-content: space-between;
      background: $main-color-bg-lighter;
      border: 1px solid $main-color-bg;
    }
  }
}

.totalCoast-1 {
  margin-top: 20%;
  h3 {
    background: linear-gradient(
      90deg,
      rgba(246, 53, 53, 1) 20%,
      rgba(255, 0, 157, 1) 60%
    );
  }
}
.totalCoast-2 {
  h3 {
    background: $main-color-lila;
  }
}
.totalCoast-3 {
  h3 {
    background: $main-color-yellow;
  }
}
.totalCoast-4 {
  h3 {
    background: $main-color-grey;
  }
}
/* -------Footer----------------- */
.footer {
  position: fixed;
  bottom: 0px;
  height: 12vh;
  width: 100%;
  background: url(./img/background_nav.png) center/ cover no-repeat;
  filter: drop-shadow(0 -2mm 2mm $main-color-bg-dark);
  nav {
    ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 10vh;
      li {
        list-style-type: none;
        a {
          text-decoration: none;
        }
        .wallet {
          position: absolute;
          top: 15%;
          left: 15%;
          img {
            width: 30px;
          }
        }
        .home {
          position: absolute;
          top: 15%;
          left: 43%;
        }
        .charts {
          position: absolute;
          top: 40%;
          left: 75%;
          img {
            width: 70px;
          }
        }
      }
    }
  }
}
//-----------------------------------------------------------------
/* ------ media queries------------ */
//-----------------------------------------------------------------

@media screen and (min-width: 320px) {
    /* -------Footer----------------- */
.footer {
  nav {
    ul {
      li {
        .wallet {
          top: 22%;
          left: 13%;
          img {
            width: 25px;
          }
        }
        .home {
          top: 15%;
          left: 41%;
        }
        .charts {
          top: 37%;
          left: 72%;
          img {
            width: 60px;
          }
        }
      }
    }
  }
}
}

@media screen and (min-width: 375px) {
      /* -------Footer----------------- */
.footer {
  nav {
    ul {
      li {
        .wallet {
          top: 20%;
          left: 13%;
          img {
            width: 30px;
          }
        }
        .home {
          top: 15%;
          left: 42%;
        }
        .charts {
          top: 37%;
          left: 72%;
          img {
            width: 70px;
          }
        }
      }
    }
  }
}
}
@media screen and (min-width: 425px) {

  /* -------Footer----------------- */
.footer {
nav {
ul {
  li {
    .wallet {
      top: 20%;
      left: 13%;
      img {
        width: 30px;
      }
    }
    .home {
      top: 15%;
      left: 43%;
    }
    .charts {
      top: 38%;
      left: 72%;
      img {
        width: 72px;
      }
    }
  }
}
}
}
}

@media screen and (min-width: 768px) {
  .login {
    h1 {
      margin-top: 15%;
    }
  }
  header {
    .menu {
      width: 50%;
      nav {
        ul {
          height: 100vh;
          font-size: 2rem;
        }
      }
    }
  }
  .overview {
    
    h2 {
      font-size: 2.5rem;
    }
    .overviewHead {
      h3 {
        font-size: 2rem;
      }
      button {
        font-size: 1.2rem;
      }
      button:hover {
        font-size: 1.5rem;
      }
    }
    ul {
      li {
        margin: 1.5% 5%;
        padding: 3%;
        article {
          font-size: 1rem;
          width: 190px;
          h4 {
            font-size: 2rem;
          }
        }
        .price {
          font-size: 1.7rem;
        }
        img {
          cursor: pointer;
        }
      }
    }
    .buttonM {
      margin-right: 5%;
      margin-left: 5%;
      .buttonMore {
        font-size: 1.5rem;
      }
    }
  }
  .chart {
    height: 250px;
    width: 350px;
    .chartText {
      top: 62%;
      left: 50%;
      p {
        font-size: 1.8rem;
      }
    }
  }
  .totalCoast-1,
  .totalCoast-2,
  .totalCoast-3,
  .totalCoast-4 {
    
    h3 {
      font-size: 2rem;
      padding: 3%;
    }
    ul {
      li {
        padding: 3%;
      }
    }
  }
  .footer {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .loginBorder {
    padding: 10% 25%;
    background: linear-gradient(160deg, rgba(50,55,124,1) 29%, 
                                        rgba(35,36,80,1) 72%);
    .login {
      background-color: $main-color-bg;
      background-image: url(./img/waves.png);
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      border-radius: 20px;
      min-height: 80vh;
      box-shadow: 3px 3px 6px 2px $main-color-bg-dark;
      h1 {
        font-size: 4rem;
        font-weight: 400;
        margin-top: 10%;
      }
    }
  }
  header {
    height: 10vh;
    .menu {
      .headBurger {
        position: absolute;
        top: 10vh;
        background: $main-color-bg-lighter;
        h1 {
          font-size: 2rem;
          font-weight: 400;
        }
      }
      nav {
        display: block;
        position: fixed;
        width: 100vw;
        box-shadow: 3px 3px 6px 2px $main-color-bg-dark;
        .cross {
          display: none;
        }
        ul {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          height: 10vh;
          width: 100%;
          margin: 0;
          padding: 2% 2%;
          li {
            padding-top: 1%;
            font-size: 1.7rem;
          }
        }
      }
      .closeNav {
        left: 0;
      }
    }
    .burgerMenu {
      display: none;
    }
  }
  .wallet {
    margin-top: 3%;
    padding: 5%;
    color: $main-color-white;
    background-image: url(./img/waves.png);
    background-position: bottom right;
    background-repeat:no-repeat;
    background-size: 50vw;
    min-height: 100vh;

    h1 {
      font-size: 2.5rem;
      padding: 2% 0;
      text-align: center;
    }
    form {
      margin: 0 10%;
    }
  }
  .chart {
    margin-top: 10%;
    width: 450px;
    .chartText {
      top: 80%;
      p {
        font-size: 2rem;
      }
    }
  }
  .statistic {
    display: flex;
    flex-direction: column;
    /*  justify-content: center; */
    align-items: center;
    margin-bottom: 12vh;
  }
  .totalCoast-1,
  .totalCoast-2,
  .totalCoast-3,
  .totalCoast-4 {
    width: 60%;
    margin: 2%;
  }
  .totalCoast-1 {
    margin-top: 25%;
  }
}